h2 {
    text-align: center;
}

.container {
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    background-color: lightblue;
}

#appointment-text {
    display: none;
}